<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table class="table table-bordered">
      <tr>
        <th class="warning">ユーザーネーム</th>
        <th>
          <div class="field">
            <%= f.text_field :name, autofocus: true, autocomplete: "name",:size => "50*30" %>
          </div>
        </th>
      </tr>

      <tr>
        <th class="warning">メールアドレス</th>
        <th>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",:size => "50*30" %>
          </div>
        </th>
      </tr>

      <tr>
        <th class="warning">パスワード</th>
        <th>
          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password",:size => "50*30" %>
          </div>
        </th>
      </tr>

      <tr>
        <th class="warning">パスワード確認</th>
        <th>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",:size => "50*30" %>
          </div>
        </th>
      </tr>
    </table>
    <div class="row">
      <div class="actions col-xs-2 col-xs-offset-5">
      <%= f.submit "新規登録",class:"btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>