<%= form_with(model: article, local: true) do |form| %>
<% if article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-xs-8 col-xs-offset-2">
  <table class="table table-bordered">
    <tr>
      <th class="warning"><%= form.label :タイトル %></th>
      <td><%= form.text_field :title,placeholder: "1~50文字以内で入力してください" %></td>
    </tr>

    <tr>
      <th class="warning"><%= form.label :動画説明 %></th>
      <td><%= form.text_area :mediainfo,placeholder: "1~500文字以内で入力してください",size:"60x20" %></td>
    </tr>

    <tr>
      <th class="warning"><%= form.label "動画ファイル(mp4)" %></th>
      <td><%= form.file_field :video ,accept:'video/mp4'%></td>
    </tr>

    <tr>
      <th class="warning"><%= form.label :動画サムネイル画像 %></th>
      <td><%= form.attachment_field :article_image %></td>
    </tr>
  </table>
</div>

<div class="col-xs-7 col-xs-offset-6">
  <%= form.submit "確定",class: "btn btn-info" %>
</div>
<% end %>
