<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1">
			<h3>登録情報編集<%= link_to "退会する", congfirm_path , class: "btn btn-danger",:style => "color: white;" %></h3>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<%= form_for(@user) do |f| %>
			<table class="table table-bordered">
				<tr>
					<th class="warning">ユーザーネーム</th>
					<td>
						<div class="field"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
					</td>
				</tr>

				<tr>
					<th class="warning">現在のプロフィール画像</th>
				    <td>
				    	<%= attachment_image_tag @user, :user_image ,placeholder: "1~10文字以内で入力してください", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "60x60"%>
				    </td>
				</tr>
				<tr>
				    <th class="warning">変更画像フォーム</th>
					<td><%= f.attachment_field :user_image %>
					</td>
				</tr>
				<tr>
					<th class="warning">ユーザー詳細</th>
					<td><%= f.text_area :introduction, placeholder: "1~500文字以内で入力してください", autofocus: true, autocomplete: "introduction", size:"60x20" %></td>
				</tr>
				<tr>
					<th class="warning">メールアドレス</th>
					<td><%= f.email_field :email, autofocus: true, autocomplete: "email",:size => "30*30" %></td>
				</tr>
			</table>
			<div class="col-xs-7 col-xs-offset-5">
				<%= f.submit "編集内容を保存する", class: "btn btn-info" %>
			</div>
			<% end %>
		</div>
	</div>
</div>

